{plugins, [pc]}.

{erl_opts, [debug_info]}.
{port_env, [
  {"darwin", "CFLAGS", "$CFLAGS -I/opt/local/include"},
  {"darwin", "LDFLAGS", "$LDFLAGS -L/opt/local/lib -lmagic "},
  {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly)", "LDFLAGS", "$LDFLAGS -lmagic "}
]}.
{port_specs, [{"priv/errm_magic_nif.so", ["c_src/errm_magic_nif.c"]}]}.

{profiles, [
  {test, [
    {erl_opts, [nowarn_export_all]},
    {extra_src_dirs, ["test"]}
  ]}
]}.
